@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at top, #1a1a1a 0%, #000000 60%);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-cormorant);
}

::selection {
  background: #f97316;
  color: white;
}